<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<link rel="stylesheet" href="/css/styles.css" />
<title>Tension Tools</title>
</head>

<body>
	<nav th:fragment="navbar"
		class="navbar navbar-expand-md bg-dark navbar-dark">
		<div class="container-fluid">
			<ul class="nav navbar-nav">

				<li><a class="nav-link" th:href="@{/}">Home</a></li>

				<li><a class="nav-link" th:href="@{/allLocks}">Locks</a></li>

				<li><a class="nav-link" th:href="@{/allPick}">Lock Picks</a></li>

				<li><a class="nav-link, active" th:href="@{/allTension}">Tension
						Tools</a></li>

				<li><a class="nav-link" th:href="@{/allBypass}">Bypass
						Tools</a></li>
				<li style="float: right;"><a class="nav-link"
					th:href="@{/logout}">Sign Out</a></li>

				<li style="float: right;"><a class="nav-link, username"
					th:text="'Logged in as' + ' ' + ${#authentication.getPrincipal().getUsername()}"></a></li>
			</ul>
		</div>
	</nav>

	<div id="center">
		<h1 style="font-size: 50px;">Tension Tools</h1>
	</div>

	<table>
		<tr th:each="tension:${tension}">
			<td th:text="${tension.toShortString()}"></td>
			<td><img th:src="@{/img/tension/{img}(img=${tension.image})}"></td>
			<td><form class="add-btn-form"
					th:action="@{/allTension/{id}(id=${tension.toolId})}" method="GET">
					<input class="add-btn" type="submit" value="See More" />
				</form></td>
		</tr>
	</table>
	<div class="center">
		<form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/addTension}"
			method="GET">
			<input type="submit" value="Add Tension Tool">
		</form>
	</div>
	<div style="width:50%;margin:auto;">
		<h3>The basics of tension:</h3>
		<br>
		<iframe style="width:100%;aspect-ratio:16/9" width="560" height="315"
			src="https://www.youtube.com/embed/W-K_dY44_wY?start=75"
			title="How a pin tumber lock works"></iframe>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</body>

</html>